.heading{
font-style: Regular;
font-size: 34px;
line-height: 40px;
line-height: 100%;
align-items: Center;
vertical-align: Top;
transform: rotate(90deg);
margin-top: 3em;
}
.floatbox {
  display: block;
  box-sizing: border-box;
  margin: 0px -10px;
  width: 40px;
  border-style: dotted;
  border: red;
}

.floatbox::after {
  clear: both;
  content: '';
  display: block;
}

.item {
  float: left;
  box-sizing: border-box;
  width: 30%;
  margin-bottom: 2px;
  padding: 0px 10px;
}

.item:nth-child(2n + 1) {
  clear: both;
}
.mask{
  color: black;
}