.banner-container{
    height: 50px;
}
.image{
    width:350px;
    min-width: 180px;
    height: 450px;
    border-top-left-radius: 5em;
    border-bottom-right-radius: 5em;
    box-shadow: #f8fc19;
    /* border-color: red;
    border-style: dotted; */
    /* display: flex;
    flex-direction: column; */
    /* height: 555px; */
}
.text-container{
    font-size: 1em;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    /* border-color: red;
    border-style: dotted; */
}
.float-container {
    /* border: 3px solid #fff; */
    padding: 2em;
    height: 450px;
    width: 100%;
    align-items: center;
    /* border-color: red;
    border-style: dotted; */
}

.float-child {
    width: 35%;
    float: left;
    padding: 1em;
    /* border-color: red;
    border-style: dotted; */
}
