.home{
    margin: auto;
    /* align-items: center; */
    width: 80%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.header-newproducts{
    box-shadow: 0px 0px 0px 5em rgba(0,0,0,0);

}
.card-container{
    box-shadow:0px 2px 2px #000;


}