.card{
    /* width: 300px; */
    font-size: auto;
    display: flex;
    flex-direction: column;
    min-width: auto;
    max-width: 300px;
    margin: 3px;
    flex-basis: 225px;
    /* box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0); */

}

.card:hover{

    transform: translateY(0.5em);
}

.price{
    font-weight: bolder;
}
.rating{
    font-weight: 500;
}
.images{
    margin-top: 5px;
    max-height: auto;
}
.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
/* .row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
} */